ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }
  li {
    padding-left: 16px;
  }

  li::before {
    content: "•"; /* Insert content that looks like bullets */
    padding-right: 8px;
    color: blue; /* Or a color you prefer */
  }
