<!doctype html>
<html lang="et" ng-app="">
<head>
	<meta charset="UTF-8">
	<title>AngularJS Forms (with validation)</title>
	<style>
	input.ng-invalid {border:1px solid red;}
	div { border: 1px solid black; background-color: lightblue; padding: 20px 20px 20px 20px; }
	</style>
</head>
<body>
<div ng-app="">
  <form name="frm">
	<div>
    Eesnimi: <input type="text" name="firstname" ng-model="user.firstname" required>
	<span ng-show="frm.firstname.$dirty && frm.firstname.$error.required">Required!</span>
	<span ng-show="frm.firstname.$dirty && frm.firstname.$invalid">vigane!</span>
	</div>
	<div>
	E-Mail: <input type="email" name="email" ng-model="user.email" required>
	<span ng-show="frm.email.$dirty && frm.email.$error.required">Required!</span>
	<span ng-show="frm.email.$dirty && frm.email.$error.email">not an email!</span>
	</div>
	
	<div>
	Parool:
	<input 
		type="password"
		name="password"
		ng-model="user.password"
		required
		ng-minlength="4"
		ng-maxlength="12"/>
	<span ng-show="frm.password.$dirty && frm.password.$error.required">andmed on kohustuslikud*</span>
	<span ng-show="frm.password.$dirty && frm.password.$error.minlength">sisestatud parool on lühike!</span>
	<span ng-show="frm.password.$dirty && frm.password.$error.maxlength">sisestatud parool on pikk!</span>
	</div>
  </form>
<div>
  <div>Sisestasid eesnime: {{user.firstname}}</div><br>
  <div>Sisestasid E-posti aadressi: {{user.email}}</div><br>
  <div>Sisestasid parooli: {{user.password}}</div><br>
</div>
<p>
<span>EST: Muuda vastavaid andmeid ja/või e-posti aadressi tekstikastides
   ja sa näed ülal vastavaid sisestatud väärtusi.</span>   
</p>
<!-- 
import / alternative(s): 
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script> 
<script src="http://code.angularjs.org/1.2.3/angular.min.js"></script>
OK version = v1.4.0
-->
<script src="../angular.js"></script>
</body>
</html>