<!-- <button (click)="onAddToDatabase()">Lisa andmebaasi</button> -->
<div id="goods-content">

  <div class="filter-bar">
    <div class="filters">
        <div class="filter-name" (click)="onOpenDropdown()"><img src="assets/filter-icon.svg"> Filtreeri <img src="assets/filter-arrow.svg"></div>
        <div class="filter-name">Järjesta </div>
        <div class="filter-values">
            <div class="filter-value" (click)="onSortTitle()">Tähestiku järgi</div>
            <div class="filter-value" (click)="onSortPrice()">Hinna järgi</div>
            <div class="filter-value" (click)="onSortPopularity()">Kategooria järgi</div>
            <div class="filter-value" (click)="onSortDiscount()">Sooduspakkumised</div>
        </div>
      </div>    
  <div class="filter-value" *ngIf="products">{{ products.length }} toodet</div>    
 </div>
 <!-- Filtri vajutades väljatulev tekst -->
 <div *ngIf="dropdownOpen" class="filter-box">
    <div class="dropdown-value" *ngFor="let product of productsCategories; let i = index" (click)="onChangeCategory(i)">
      <input [checked]="product.isSelected" type="checkbox"><div>{{ product.category }}</div>
    </div>
 </div>
<!-- Kõik esemed -->
  <div class="item-list">
    <div 
        class="item" *ngFor="let item of products; let i = index"
        (mouseenter)="onMouseEnter(item)" 
        (mouseleave)="onMouseLeave(item)" >
      <button *ngIf="item.showButton"
              class="cart-button" 
              (click)="onAddToCart(item)"
      >+ LISA</button>
      <div 
        *ngIf="!item.showButton" 
        class="blank"></div>
      <div [routerLink]="['/view',i]">
        <div class="item-top">
          <img src="{{ item.imgSrc }}">
        </div>
        <div class="text-title">{{ item.title | uppercase }}</div>
        <div class="text-price">{{ item.price | currency: 'EUR' }} </div>
      </div>
    </div>
  </div>  
</div>