<!-- <button (click)="onAddToDatabase()">Lisa andmebaasi</button> -->
<div id="goods-content">

  <div class="filter-bar">
    <div class="filters">
        <div class="filter-name">Filtreeri</div>
        <div class="filter-name">Järjesta </div>
        <div class="filter-values">
            <div class="filter-value">Tähestiku järgi</div>
            <div class="filter-value">Hinna järgi</div>
            <div class="filter-value">Kategooria järgi</div>
            <div class="filter-value">4 DIV</div>
            <div class="filter-value">5 DIV</div>
        </div>
      </div>    
  <div class="right">{{ products.length }}toodet</div>
    
  </div>

  <div class="item-list">
    <div 
        class="item" *ngFor="let item of products; let i = index"
        (mouseenter)="onMouseEnter(item)" 
        (mouseleave)="onMouseLeave(item)" >
      <button *ngIf="item.showButton"
              class="cart-button" 
              (click)="onAddToCart(item)"
      >+ LISA</button>
      <div 
        *ngIf="!item.showButton" 
        class="blank"></div>
      <div [routerLink]="['/view',i]">
        <div class="item-top">
          <img src="{{ item.imgSrc }}">
        </div>
        <div class="text-title">{{ item.title }}</div>
        <div class="text-price"> {{ item.price }} </div>
      </div>
    </div>
  </div>  
</div>