/*
1. variant  - igaüks eraldi
margin-left: 10px;
margin-right: 10px;
margin-top: 0px;
margin-bottom: 0px;

2. variant - esimene number üles-all, teine number vasakule-paremale 
margin: 0 10px;

3. variant ...

*/
.item-count {
    margin-left: 10%;
}

.ostukorvi-ese {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
    margin: 0 10%;
    border-bottom: 1px solid lightgrey;
}

.item-image {
   width: 150px; 
   height: 150px;
}

.text-title {
    width: 500px;
    margin-top: 40px;
}

.delete-button {
    margin-top: 50px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    opacity: 0.7;
}

.delete-button.hover {
    opacity: 1.0;
    transition: .5s;
}

.empty-cart-button {
    height: 50px;
    width: 100px;
    margin-left: 10%;
    background-color: burlywood;
    border-radius: 5px;
    border: none;
    opacity: 0.7;
    cursor: pointer;
}

.empty-cart-button:hover {
    background-color: rgb(170, 16, 16);
    opacity: 1.0;
}

.cart-sum-items {
    text-align: center;
}